<div class='groupEntry'>
    <div class='groupEntry-header'>
        <img class='arrowIcon' src='./keyboard_arrow_right-24px.svg' alt='Group arrow' onclick="toggleEntry(this.parentElement.parentElement)"/>
        <h3 style='margin: 0px; padding: 5px;' onclick="toggleEntry(this.parentElement.parentElement)">{{name}}</h3>
    </div>
    <div class='entryBody'>
        <p>{{description}}</p>
        <button style='margin-left: auto; height: 100%;' onClick="joinGroup('{{uuid}}')" >Join</button>
    </div>
</div>