<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="styling.css">
    <script src="index.js" charset="utf-8"></script>
    <link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Rancho&effect=fire">
      <link href="https://fonts.googleapis.com/css?family=Monoton&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.4.2/handlebars.js"></script>
    <title>{{{title}}}</title>
</head>
<body>
    <header>
        <div class='headerbar'>

          <div class="">
            <a href='/myGroups'>
             <img src='./logo.svg' height='200px' />
            </a>
          </div>

            <input id='change-user-button' onclick="toHomePage()" type="button" value='Sign Out'/>
        </div>
    </header>
    {{{body}}}
</body>
</html>
