<script src="index.js" charset="utf-8"></script>
<div style='margin: auto; border: 1px solid black; width: 400px; border-radius: 0.5em; padding: 1em'>
    <h1 style='font-family: Arial, Helvetica, sans-serif'>Sign in</h1>
    <div>
        <input type="text" id='namefield'/>
        <input type="button" value='Next' onclick="sendName()"/>
    </div>
</div>