<script src="index.js" charset="utf-8"></script>
<div id='bodyContainer'>
    <div style='display: flex; flex-direction: row; justify-content: space-between;'>
        <h1>My Groups</h1>
        <div style='display: flex; flex-direction: column; justify-content: space-evenly;'>
            <input class='userButton' type="button" value='Find a group'/>
            <input class='userButton' type="button" value='Create a group'/>
        </div>
    </div>
    
    <div class='groups'>
        <div class='groupEntry'>
            <img src='./keyboard_arrow_right-24px.svg' alt='Group arrow'/>
            <h3 style='margin: 1em;'>CS 290</h3>
            <div class='entryBody'>
                STUFF
            </div>
        </div>
    </div>
</div>