<div id='bodyContainer'>
    <div style='display: flex; flex-direction: row; justify-content: space-between;'>
        <h1>My Groups</h1>
        <div style='display: flex; flex-direction: column; justify-content: space-evenly;'>
            <input class='userButton' onclick="toFindGroupsPage()" id="find-group-button" type="button" value='Find a group'/>
            <input class='userButton' onclick='toCreateGroupsPage()' id="create-group-button" type="button" value='Create a group'/>
        </div>
    </div>
    
    <div class='groups'>
        {{#each groupsData}}
        {{> groupEntry }}
        {{/each}}
    </div>
</div>