body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  color: #002626;
}

.title{
  color: #EFE7DA;
  margin: 1em;
  font-size: 64pt;
  text-decoration: none;
}

.font-effect-fire {
  margin-right: 0px;
}
.title-track{
  font-family: 'Monoton', cursive;
  margin-left: 0px;
}

.userButton{
  display: block;
  width: 12em;
  color: white;
  background-color: #606060;
  border-radius: 2em;
}

#change-user-button {
  display: block;
  width: 12em;
  height: 2em;

  color: white;
  background-color: #606060;
  border-radius: 2em;
}

#bodyContainer{
  margin: 1em;
}

.headerbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 150px;
  background-color:#0E4749;
  padding-right: 1em;
}

.groups{
  border: 1px  solid black;
  margin-top: 8px;
  min-height: 2em;
  border-radius: 0.5em;
  padding: 1em;
  box-shadow: 2px 2px 16px grey;
}

input {
  box-shadow: 2px 2px 16px grey;
}
.groupEntry{
  display: flex;
  flex-direction: column;
}

.entryBody{
  border-radius: 4px;
  padding-left: 2em;
  max-height: 0px;
  transition: max-height 0.5s;
  overflow-y: hidden;
  margin-bottom: 1em;
}

.showEntryBody{
  max-height: 250px;
  padding-bottom: 1em;
  border: 1px solid #EFE7DA;
}

.arrowIcon{
  transition: transform 0.5s;
}

.rotate90{
  transform: rotateZ(90deg);
}

.groupEntry :hover{
  cursor: pointer;
}

.groupEntry-header{
  display: flex;
  flex-direction: row;
  color: #E55812;
}

.formRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1em;
}

.formRow h2 {
    min-width: 150px;
}

#tagRadioContainer {
    display: flex;

    flex-direction: column;
    margin-left: 2.5em;
    width: 100%;
}

.tagRadio{
    display: flex;
}

.CrGroupTextBox{
    border-width: 1.5px;
    border-color: #404040;
    border-radius: 15px;
    padding: 2px 10px 2px 10px
}

#tagRadioContainer input {
}
